/* .searchElements {
    display: flex;
  }
  
  

.searchElements form{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  .countryCardGallery {
      display: flex;
  }

  */